body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-game {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  clear:both;
}

.status {
  margin-bottom: 10px;
}

.square {
  flex: 1;
  flex-basis: 30%;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.text-danger {
  color: red;
}

.text-warning {
  color: orange;
}